When I unleashed the mighty Mazify upon the world, it was greeted not with the awestruck wonder I had expected, but more with a kind of polite silence. Eventually Colin summed it up with “So it's more overlaying your cherished memories with a maze than turning your cherished memories into a maze”, a hurtfully reductive but technically unimpeachable summary of the Mazification™ process.

So, chastened at the disappointment of my friends but inspired by reports of Kit “John, I think I can build a jellyfish” Parker, I thought: Mazify Schmazify. What we need is Mizzazify! Here you have it.
